body {
    margin: 0;
    background: #000;
    height: 100vh;
    font-family: sans-serif;
}

#lamp {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #222;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#switchBtn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background: #444;
    color: white;
    cursor: pointer;
    transition: background 0.2s;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}

.return_link {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    text-decoration: none;
}